* {
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: Helvetica;
	font-size: ;
	line-height: 1.4em;
	font-weight: normal;
	color: #3c3b37;
	min-width: ;
}
.container{
margin: auto;
overflow: hidden;
width: 100%
}
#header{
	background-color:sandybrown;
	padding: 10px;
	text-align: center; 
}
ul{
	margin-left: px;
	list-style-type: none;
	padding: 0;
	margin-top: -10px;
	margin-left: 60px;
}
li{
	float: left;
    padding: 25px;


}
input {
width: 300px;
height: 50px;
border-radius: 30px;
}
li a {
	border: 1px solid steelblue;
	text-decoration: none;
	padding: 5px;
	color: black;
	border-radius: 5px; 
	padding: 5px 20px 5px 20px;
}
li a:hover {
	color: steelblue;
}
li a.hover{
background-color: cadetblue;
color: white;
}
li a.hover:hover {
	background-color:darkcyan;
}
#nav {
	box-shadow: 0 2px 9px lightgray;

}
#section {
	height: 380px;
	background-image: url("girl.jpg");
}
.full{

	background-color: white;
	margin-left: 30px;
	width: 30%;
	padding: 20px;
	margin-top: 30px;
	box-shadow: 1px 1px 4px lightgray;
}
.style {
	width:300px;
 }
 .box{
 	float: left;
 	padding: 35px;
 	line-height: 0.6em;
 	margin-left: 25px;
 	text-indent: 70px;
 	border-bottom: ;
 	border-collapse: 
 }
 .get{
 	background-color: purple;
 	height: 300px;
 }
 .purple{
text-align: center;
color: white;
padding-top: 100px;
font-size: 35px;
font-weight: bolder;
 }
 .black{
 	text-align: center;
 	color: white;
 }
 .yellow a{
 	text-decoration: none;
 	color: white;
 	text-align: center;
 	border: 1px solid white;
 	padding: 20px;
 	border-radius: 3px;
 	padding-left: 30px;
 	padding-right: 30px;
 	margin-top: 5px;
 }
.yellow{
	text-align: center;
 }
 div.gallery {
	border: 1px solid darkgray;
	width: 277px;
	margin: 10px;
	float: left;

}
.des {
	padding: 5px;
	text-indent: 20px;
	height:50px ;
	margin-bottom: 10px;
	padding-bottom: 60px;
	font-size: 15px;
	}
div.teach {
	height: 600px;
	height-top: 100px;
	margin-top: 120px;
}
div.become {
	float: right;
	position: absolute;
	right: 150px;
	top: 2250px;
}
#teal{
	background: teal;
	width: px;
	text-decoration: none;
	border:1px solid teal;
	border-radius: 5px;
	padding: 20px;
	font-size: 20px;
}
#teal a{
	text-decoration: none;
	color: white;
	padding: px;
	text-align: center;
}
#teal:hover{
	background-color:cadetblue;
}
div.man{
	height: 400px;
	background: teal;
	margin-top: 100px;
}
div.udemy{
margin: 90px;
padding-top: 100px;
color: white;
}

#top{
	background: indigo;
	text-decoration: none;
	text-align: center;
	border: 1px solid indigo;
	border-radius: 5px;
	color: white;
	padding: 20px;
}
#top a{
	color: white;
	text-decoration: none;
	padding: 20px;
	font-size: 20px;
}
#top:hover{
	background-color: black;
}
.man img{
	float: right;
	position: absolute;
	top: 2700px;
	left: 700px;
}


